.body-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

}

.login-container {
    margin-top: 10rem;
}

.body-login .form-login .form-title h1 {
    font-size: 2rem;
    font-weight: 600;
}

.body-login .form-login .form-title p {
    font-size: 0.8rem;
}

.form-login .remember-fogot {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 1rem; */
}

.form-login .remember-fogot a {
    color: #ef8c86;
    font-weight: 600;
}

.form-login .form-body {
    margin-top: 2rem;
}

.form-login {
    width: 60%;
}

.form-footer button {
    width: 100%;
    font-size: 1.2rem;
    margin: 1rem 0 1rem 0;
    border: 0;
    background-color: var(--success-btn-color);
    color: var(--background-color);
    height: 50px;
    font-weight: 500;
}


.form-footer a {
    /* margin-top: 1rem; */
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-footer a span {
    color: #ef8c86;
    font-weight: 600;
    font-size: 1rem;
}

.login-container a {
    color: #5A6A85;
}

.image-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-login img {
    max-width: 90%;
    max-height: 100%;
    object-fit: cover;
}

.social-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
}

.social-login {
    text-align: center;
    margin-top: 20px;
}

.social-login h5 {
    margin-bottom: 20px;
    color: #555;
}

.social-login .button-login-social-network {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-login .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    /* color: white; */
    /* transition: background-color 0.3s ease; */
    border: 1px solid var(--success-text-color);
    /* border-radius: 0; */
    color: var(--success-text-color);
}

.social-login .btn:hover {
    transform: scale(1.05);
    border: none;
    background: var(--success-btn-color);
    color: white;

}

.social-login .btn-facebook img {
    width: 1.5rem;
}

.social-login .btn img {
    margin-right: 8px;
}